<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">


		<section class="footer-bottom row">
			<div class="col-md-4">
				<span class="lead">contact us : <a href="tel:+13473524899">+1 (347) 352 - 4899</a></span>

			</div>
			<div class="center col-md-3">
				<img src="/images/akc-297x300.png" width="100" alt="akc-logo.png" class="img-fluid">

				<h3 class="text-muted">AKC CERTIFIED</h3>

			</div>
			<div class="col-sm-4">
				<p class="text-sm-right">
					&copy; 2019 Crown <img src="/images/icon.png" width="32" alt="crownfrawns logo icon"> Frawns. All
					Rights
					Reserved
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container --> <br>
</footer>
<!-- ========================= FOOTER END // ========================= -->