<header id="header" class="section-header bg-blue">
	<section id="head-top">
		<div class="row">

			<span class="col-md-6 left">Email Us : <i class="fa fa-envelope"> </i> <a
					href="mailto:jasontorrent97@gmail.com">
					jasontorrent97@gmail.com </a></span>
			<span class="col-md-6 right">Text/Call US : <i class="fa fa-mobile"> </i> <a href="tel:+13473524899"> +1
					(347)
					352 -
					4899 </a></span>
		</div>
	</section>
	<section class="header-main shadow-sm ">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 col-sm-8">
					<a href="/" class="brand-wrap row align-items-center">
						<h2 class="logo-text">Crown
							<img class="logo img-fluid" src="/images/icon.png">
							Frawns.</h2>
					</a> <!-- brand-wrap.// -->
				</div>
				<div class="col-lg-9 col-sm-9" id="menu">
					<ul class="nav">
						<li class="nav-item">
							<a href="/" class="nav-link active">
								Home
							</a>
						</li>
						<li class="nav-item">
							<a href="/frenchies/available-puppies" class="nav-link">
								Available Puppies
							</a>
						</li>

						<li class="nav-item">
							<a href="/contact-faqs" class="nav-link">
								Contact /FAQs
							</a>
						</li>
						<li class="nav-item">
							<a href="/testimonials" class="nav-link">
								Testimonials
							</a>
						</li>
						<li class="nav-item">
							<a href="/buyers-contract" class="nav-link">
								Buyers Contract
							</a>
						</li>
						<li class="nav-item">
							<a href="/frenchies/studs" class="nav-link">
								Studs
							</a>
						</li>
						<li class="nav-item">
							<a href="/frenchies/females" class="nav-link">
								Females
							</a>
						</li>
						{{!-- <li class="nav-item">
							<a href="/frenchies/past-puppies" class="nav-link">
								Past Puppies
							</a>
						</li> --}}
					</ul>
				</div> <!-- col.// -->

				<div class="col-lg-1 col-xl-1 col-sm-4">
					<div class="widgets-wrap">
						<a href="/shopping-cart" class="widget-header mr-3">
							<div class="icontext">
								<div class="icon-wrap"><i class="icon-sm round border fa fa-shopping-cart"></i></div>
								<div class="text-wrap">
									<span class="small badge badge-danger cart">
										{{# if session.cart}}
										{{session.cart.totalQty}}
										{{else}}0{{/if}}</span>
									<div>Cart</div>
								</div>
							</div>
						</a>

					</div> <!-- widgets-wrap.// -->
				</div> <!-- col.// -->

			</div> <!-- row.// -->
		</div> <!-- container.// -->
	</section> <!-- header-main .// -->


	<div class="mobilnav">
		<div class="row">

			<div class="col-4">
				<div id="burger" class="hamburger">
					<div></div>
					<div></div>
					<div></div>
					<div></div>

				</div>
			</div>
			<div class="col-4">

				<a href="/" class="brand-wrap row align-items-center">
					<h2 class="logo-text">Crown
						<img class="logo img-fluid" src="/images/icon.png">
						Frawns.</h2>
				</a>
			</div>
			<div class="col-4">
				<div class="widgets-wrap">
					<a href="/shopping-cart" class="widget-header mr-3">
						<div class="icontext">
							<div class="icon-wrap"><i class="icon-sm round border fa fa-shopping-cart"></i></div>
							<div class="text-wrap">
								<span class="small badge badge-danger cart">
									{{# if session.cart}}
									{{session.cart.totalQty}}
									{{else}}0{{/if}}</span>
								<div>Cart</div>
							</div>
						</div>
					</a>

				</div> <!-- widgets-wrap.// -->
			</div>
			<div id="mnav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/frenchies/available-puppies">Available Puppies</a>
				</li>
				<li>
					<a href="/buyers-contract">Buyers Contract</a>
				</li>

				<li>
					<a href="/contact-faqs">Contact/FAQs</a>
				</li>
				<li>
					<a href="/frenchies/studs">Studs</a>
				</li>
				<li>
					<a href="/frenchies/females">Females</a>
				</li>
				{{!-- <li>
					<a href="/frenchies/past-puppies">Past Puppies</a>
				</li> --}}

			</div>
		</div>
	</div>

</header> <!-- section-header.// -->
<div class="container">



	{{# if hasErrors}}
	<div class="text-center alert alert-{{type}}">

		{{# each messages }}

		<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
			<strong>{{this}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>
		{{/each}}
	</div>
	{{/if}}
</div>