<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta nam="description" content="Reputable AKC Blue French Bulldog Breeders.Crown Frawns is the place to buy Firstclass Blue French Bulldog  Puppies
   ">
  <meta name="keywords"
    content="French Bulldog, Frenchie ppuppies for sale, buy frenchies, buy blue french bulldogs, Blue french bulldog puppies" />

  <!-- jQuery -->
  <script src="/js/jquery-2.0.0.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- Bootstrap4 files-->
  <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />

  <!-- Font awesome 5 -->
  <link href="/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- plugin: fancybox  -->
  <script src="/plugins/fancybox/fancybox.min.js" type="text/javascript"></script>
  <link href="/plugins/fancybox/fancybox.min.css" type="text/css" rel="stylesheet">

  <!-- plugin: owl carousel  -->
  <link href="/plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
  <script src="/plugins/owlcarousel/owl.carousel.min.js"></script>

  <!-- custom style -->
  <link href="/css/ui.css" rel="stylesheet" type="text/css" />
  <link href="/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
  <!-- custom javascript -->
  <link href="https://fonts.googleapis.com/css?family=Amita|Montserrat|Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
  <script src="/js/script.js" type="text/javascript"></script>

  <script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function () {
      // jQuery code

    });
// jquery end
  </script>



  <title>{{title}}</title>

</head>

<body>
  {{> header }}
  <section class="main">
    {{{body}}}

    <div>
      {{> footer}}
    </div>
  </section>

  <script type='text/javascript'
    data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: 'e83316a3-1e3c-453c-93f6-3f409f8a21f4', f: true }); done = true; } }; })();</script>
</body>

</html>