<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div class="container card p-5">
    <br> <br> <br>
    <h1 class="text-center"> Add New Puppy</h1> <br> <br>
    <form action="" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Puppy Name</label>
                    <input type="text" name="name" class="form-control" value="">

                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="status">Puppy Status</label>
                    <select name="status" class="form-control">
                        <option value="Available">Available</option>
                        <option value="Available">Available</option>
                        <option value="Sold">Sold</option>
                    </select>

                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sex">Puppy Sex</label>
                    <select name="sex" id="sex" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="breed">Puppy Breed</label>
                    <input type="text" name="breed" class="form-control" value="French Bulldog">
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dob">Puppy Date of Birth</label>
                    <input placeholder="Selected date" name='age' type="text" id="datepicker" class="form-control"
                        value="">

                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="available">Date Avilable</label>
                    <input placeholder="Selected date" name="available" type="text" id="date-picker"
                        class="form-control" value="">

                    <span class="help-block"></span>
                </div>
            </div>
            <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
                $('#date-picker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>




            <div class="col-md-4">
                <div class="form-group">
                    <label for="price">Price (USD)</label>
                    <input type="number" name="price" class="form-control" value="" placeholder="Price (USD)">

                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="deposit">Deposit (USD)</label>
                    <input type="number" name="deposit" class="form-control" value="" placeholder="Holding Fee (USD)">

                    <span class="help-block"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" class="form-control">
                        <option value="available-puppies">Available Puppies</option>
                        <option value="studs">studs</option>
                        <option value="females">Females</option>
                        <option value="past-puppies">Past Puppies</option>

                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="eye_color">Puppy Eye color</label>
                    <input type="text" name="eye" class="form-control" value="" placeholder="Eye Color">

                    <span class="help-block"></span>
                </div>
            </div>
        </div>



        <!-- image -->
        <div class="container">

            <div class="row">
                <div class="form-group upload">Choose Images <br>
                    <i class="fa fa-upload fa-2x"></i> <i class="fa fa-image fa-2x"></i>
                    <input type="file" name="files" multiple onchange="readURL(this);">
                </div>
            </div><br>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body center text-center" id='img_preview'>
                            <p>No Image Selected</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <script>
                function readURL(input) {
                    if (input.files) {
                        var filesAmount = input.files.length;
                        $('#img_preview').html(`<strong>${filesAmount} Images Selected</strong><br>`)
                        for (i = 0; i < filesAmount; i++) {
                            var reader = new FileReader();

                            reader.onload = function (e) {

                                $('#img_preview').append(`<img src="${e.target.result}" class="img-fluid col-2" >`);
                            }

                            reader.readAsDataURL(input.files[i]);
                        };

                    };

                }

            </script>
        </div>






        <div class="row">
            <div class="col">
                <div class="">
                    <label for="description">Puppy Description</label>
                    <textarea type="text" name="description" class="form-control"
                        placeholder="Puppy Description"> </textarea>

                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group text-center">


            <button class="btn btn-lg btn-info  btn-login text-uppercase font-weight-bold mb-2" type="submit"
                name="update">Update </button>

            <button class="btn btn-lg btn-primary btn-login text-uppercase font-weight-bold mb-2" type="submit"
                name="save">Add Puppy</button>
        </div>
    </form>
</div>

<br>