<div class="container">

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content">
        <div class="container">

            <div class="card mb-3">

                <div class="card-header why">
                    <header class="section-heading text-center">
                        <h1> Buyers Contract</h1>
                        <i class="fa fa-paw fa-2x"></i><i class="fa fa-paw fa-3x"></i> <i class="fa fa-paw fa-2x"></i>
                    </header>
                </div>
                <div class="card-body">
                    <article>
                        <p class="h4"><a href="docs/crown-frawns-buyers-contract" class="text-info"
                                target="_blank">Click here</a> to view the full buyers contract.</p>
                        <h3>
                            <p>HEALTH GUARANTEE</p>
                        </h3>
                        <p>We guarantee that you will be provided with a healthy puppy, free of any serious congenital
                            diseases, for up to 1
                            year after the time of sale. In order to ensure this guarantee, the buyer must have the
                            puppy examined by a licensed
                            veterinarian within 48 hours of its purchase. This examination will be at the expense of the
                            buyer.</p>
                        <ul>
                            <li>The incubation period for parvo is 10 days. Therefore, the puppy will be guaranteed to
                                be free of parvo for 10
                                days after you have received it. If the puppy contracts parvo during this period of
                                time, the seller may choose
                                to pay for its treatment or replace the puppy.</li>
                            <li>This guarantee does not include health conditions that can afflict all dogs (with the
                                exception of parvo). These
                                include: demodex mange, coccidiosis, giardia, inguinal or umbilical hernias,
                                hypoglycemia, ear mites, fleas, or
                                ticks.</li>
                            <li>This guarantee does not include health conditions that are considered normal for
                                bulldogs, including cherry eye,
                                entropion, skin allergies, elongated soft palate, stenotic nares (pinched nostrils),
                                uneven bites, or
                                &ldquo;loose hips.&rdquo;</li>
                            <li>This guarantee does not include matters of size, weight, structure, coat quality, or
                                temperament.</li>
                        </ul>
                        <p>If the buyer decides to refuse the required examination or does not have it performed within
                            the 48 hour time limit,
                            the buyer will assume complete responsibility for the puppy&rsquo;s health, and the contract
                            will be considered
                            void.</p>
                        <p>&nbsp;</p>
                        <p>REPLACEMENT POLICY</p>
                        <p>If the puppy does not pass the required examination, develops any genetic or hereditary
                            disorders, or has undescended
                            testicles within one year of purchase, it will be eligible for a replacement.</p>
                        <ul>
                            <li>The buyer will be required to provide documentation from at least two licensed
                                veterinarians including: written
                                documentation and diagnosis, test results, and any other information as requested by the
                                seller. The buyer will
                                continue to remain financially responsible for all veterinary expenses.</li>
                            <li>Upon replacement, the puppy will need to return with all AKC registration documents in
                                order to return full
                                ownership to the seller.</li>
                        </ul>
                        <p>If a genetic condition should cause the puppy to die within one year of purchase, it will be
                            eligible for
                            replacement.</p>
                        <ul>
                            <li>A necropsy will need to be performed and a formal report must be issued by a licensed
                                veterinarian. Once the
                                seller has received this report, it will be thoroughly reviewed before making a final
                                decision. The buyer will
                                be financially responsible for all veterinary expenses during this time.</li>
                            <li>If the seller finds the necropsy report to reflect that the cause of death was due to a
                                genetic condition, the
                                seller will agree to replace the puppy.</li>
                        </ul>
                        <p>The replacement puppy will be taken from a future litter and will be of the same sex and
                            value of the original puppy.
                            Cash refunds, in part or full, will not be given under any circumstances.</p>
                        <p>The buyer will need to pay the balance and pick up the puppy within 10 days of the arranged
                            pick up date, unless
                            special arrangements have been made. If the buyer fails to pick up the puppy within this
                            time period, the puppy will
                            be resold and the buyer&rsquo;s deposit will be forfeited.&nbsp;&nbsp;</p>

                        <small class="center why">
                            All of our French Bulldog puppies for sale are registered with the American Kennel Club and
                            come
                            with
                            registration papers.

                        </small>
                        </p>
                    </article>
                </div> <!-- card-body .// -->
            </div> <!-- card.// -->


        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



</div>