<br>
<div class="container">
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content">
        <div class="container">


            <div class="card-header why">
                <header class="section-heading" style="text-align:center;">
                    <h1 style="text-align:center;">{{title}}</h1>
                    <i class="fa fa-paw fa-2x"></i><i class="fa fa-paw fa-3x"></i> <i class="fa fa-paw fa-2x"></i>
                </header>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-8 box">

                    <h2 class="card-title mt-2" style="text-align:center;">Contact US</h2>
                    <form action="" method="POST" id="form">
                        <div class="form-row">
                            <div class="form-group input-group col-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="name" id="name" class="form-control" placeholder="Full name" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input name="email" id="email" class="form-control" placeholder="Email address"
                                    type="email">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <input name="phone" id="phone" class="form-control" placeholder="Phone number"
                                    type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group col-12">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" class="form-control" cols="30"
                                    rows="10"></textarea>
                            </div>
                            <div class="form-group col">

                            </div>
                        </div><!-- form-row end .// -->

                    </form>
                    <button id="contact" class="btn btn-primary btn-lg btn-block"> <i class="fa fa-paper-plane"></i>
                        Send
                        Message</button>
                </div>
                <div class="col-md-4">


                    <article>
                        <figure class="itembox text-center">
                            <span class="icon-wrap rounded icon-sm bg-secondary"><i class="fa fa-building white"></i>
                            </span>
                            <figcaption class="text-wrap">
                                <h5 class="title">Crown Frawns</h5>
                                <div class="box">
                                    <div class="icontext mb-4">
                                        <div class="icon-wrap icon-xs bg-secondary round">
                                            <i class="fa fa-envelope white"></i>
                                        </div>
                                        <div class="text-wrap">
                                            <small class="text-muted">Email</small>
                                            <a href="mailto:jasontorrent97@gmail.com">jasontorrent97@gmail.com</a>
                                        </div>
                                    </div> <!-- icontext.// --> <br>
                                    <div class="icontext mb-4">
                                        <div class="icon-wrap icon-xs bg-primary round">
                                            <i class="fa fa-phone white"></i>
                                        </div>
                                        <div class="text-wrap">
                                            <small class="text-muted">Phone</small>
                                            <a href="tel:+13473524899">(347) 352 - 4899</a>
                                        </div>
                                    </div> <!-- icontext.// --> <br>
                                    <div class="icontext">
                                        <div class="icon-wrap icon-xs bg-success round">
                                            <i class="fa fa-building white"></i>
                                        </div>
                                        <div class="text-wrap">
                                            <small class="text-muted">Address</small>
                                            <div>Elgin,
                                                Illinois, USA</div>
                                        </div>
                                    </div> <!-- icontext.// -->
                                </div> <!-- box.// -->
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->


                </div>
            </div>



            <br> <br>
            <hr><br>
            <div class="faq">
                <h2 style="text-align:center;">FAQs</h2>

                <div class="list-group">
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse13" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">Do you offer shipping? </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse13" style="">
                            <p>We can ship your puppy in several different ways. The choice is ultimately up to you.
                                Ground,
                                air cargo, and puppy nanny
                                are all options we are happy to discuss with you. </p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse23" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">How do I pay for my puppy?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse23" style="">
                            <p>
                                We can Accept, credit cards, bank wire transfers, Walmart money gram,Bitcoin or cash.
                                Whatever is
                                easiest for you. </p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                                class="collapsed">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">How does your waiting list work?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse1" style="">

                            <p>Our waiting list is for clients that for sure want a puppy. You pay the $500 deposit and
                                let
                                us know what color and sex
                                you are looking for. We notified you when we get puppies that match your request. You
                                may
                                adopt that puppy, or wait for
                                the next litter if you chose. The waiting list orders will be filled on a first come,
                                first
                                served basis. All waiting
                                list customers will have the opportunity to adopt before anyone on the call back list is
                                notified.</p>
                        </div> <!-- collapse -filter-content  .// -->
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                class="collapsed">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">Will someone from Crown Frawns be available if I have any
                                    questions?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse2" style="">
                            <p>
                                Absolutely! We are always here to help our friends in any way we can. You will be so
                                glad
                                that you chose to purchase a
                                puppy from Crown Frawns. </p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse3" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fas fa-chevron-down"></i>
                                <h6 class="title">What should I do with my puppy when I get it home? </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse3" style="">
                            <p>Do all the normal puppy care but most importantly, bond with your new friend. Yes the
                                puppy
                                has been socialized, but it
                                has also spent the majority of its time with its littermates. The puppy will bond with
                                you
                                if you spend time with it the
                                first several days that you receive it. Then it will be your friend forever. </p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse4" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">How can you assure me that I will get a healthy puppy?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse4" style="">
                            <p>We breed only the healthiest breeding animals available and we offer a one year health
                                guarantee on every puppy we sell.
                                See our "Buyers Contract" <a href="/buyers-contract">page</a> .</p>
                        </div>
                    </article>

                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse5" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">Are all of your dogs AKC registered?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse5" style="">
                            <p>Yes they are. We fell in love with the French bulldog breed years ago and all off our
                                breeding animals are AKC
                                registered. That's one of the many ways we ensure that you get a healthy, purebred puppy
                                to
                                bring you years of love and
                                enjoyment.</p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse6" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">Are these puppies up to date on their shots? </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse6" style="">
                            <p>
                                Yes, all puppies are current on their basic puppy vaccines that are appropriate for
                                their
                                age. </p>
                        </div>
                    </article>
                    <article class="list-group-item">
                        <header class="filter-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse7" class="collapsed"
                                aria-expanded="false">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">How much is the deposit to reserve a puppy? </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse" id="collapse7" style="">
                            <p>
                                The deposit to reserve a puppy is $500. The deposit is non-refundable, unless your puppy
                                would become ill prior to you
                                receiving it.</p>
                        </div>
                    </article>
                </div> <!-- list-group.// -->

                <br><br>
            </div>
            <small class="center why">
                All of our French Bulldog puppies for sale are registered with the American Kennel Club and
                come
                with
                registration papers.

            </small>
            <br>

        </div> <!-- container .//  -->
    </section>
</div>