<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-top-sm">
	<div class="container intro">
		<h1>
			Blue French Bulldogs for Sale!
		</h1>
		<p>
			At Crown Fawns, we specialize in well-tempered blue French Bulldog puppies that are amazingly gorgeous and
			healthy. Click below to see our beautiful blue French Bulldog puppies for sale today.
			<br><br>
			<a href="/frenchies/available-puppies" class="btn btn-primary">
				See Available Puppies
			</a>

			<a href="/testimonials" class="btn btn-outline">
				Testimonials
			</a>
		</p>
		<br>
		<a href="#main" class="_main"><i class="fa fa-angle-down fa-3x animated infinite bounce delay-2s "></i></a> <br>
		<small class="text-muted">Scroll Down</small>
	</div>
</section>
<!-- ========================= SECTION MAIN END// ========================= -->


<div class="section cert container padding-y" id="main">
	<div class="row">
		<div class="col-md-4 col-sm-10">
			<img src="/images/award.jpg" alt="award winning french bulldog breeder" class="img-fluid" />
		</div>
		<div class="col-md-4 col-sm-10">
			<img class="img-fluid" src="/images/guarantee.jpg" alt="guranteed french bulldog puppies" />
		</div>
		<div class="col-md-4 col-sm-10">
			<img src="/images/sales.jpg" alt="24 hour support" class="img-fluid" />
		</div>
	</div>
</div>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content">
	<div class="container">

		<div class="card mb-3">

			<div class="card-header why">
				<header class="section-heading text-center">
					<h2>Why Crown Frawns ?.</h2>
					<i class="fa fa-paw fa-2x"></i><i class="fa fa-paw fa-3x"></i> <i class="fa fa-paw fa-2x"></i>
				</header>
			</div>
			<div class="card-body">
				<article>
					<p>
						Because we sell the best French bulldog puppies around! We are a family of 7 who love our
						frenchies like they are a part
						of the family. We live on 100 acres of beautifully wooded property in the heart of Illinois. We
						would love to be a blessing
						in helping you find the perfect frenchie for your family.
					</p>
					<p>
						Crown Frawns is veterinarian owned and operated home based breeder of the highest
						quality French bulldogs in
						Illinois. We strive to produce a small number of exquisite Frenchie puppies each year so
						that others can discover
						what we have known for years.
					</p>
					<p>
						French bulldogs are the sweetest most lovable dogs available. They can melt your heart with
						those big loving eyes. They
						learn quickly and are always eager to please you, their best friend. Frenchies are an attractive
						and eye catching breed.
						Their bodies are small but muscular and heavy boned, giving them their characteristic appearance
						that is so desirable.
						They average 18 to 24 pounds, so are small enough to fit into most living situations. They love
						car rides, leash walks,
						and just spending time with you.
					</p>
					<p>
						Let us guide you to the perfect addition to your family. We can counsel you on what personality
						of puppy will best fit
						your lifestyle. Check out our available puppy page.
					</p>
					<p>
						Our veterinary expertise is valuable in assisting you with the well-being of your new addition.
						We are always happy to
						give health advice and be a resource of knowledge to the friends we’ve made over the years.
					</p>
					<p>


						For those interested in breeding, we have everything you need. With 19+ years in the veterinary
						field focusing on
						reproduction, specifically artificial insemination, semen collection and processing. Our ability
						to help you
						successfully breed your female is a huge advantage for you. Check out our stud page and see what
						we have to offer.</p>

					<small class="center why">
						All of our French Bulldog puppies for sale are registered with the American Kennel Club and come
						with
						registration papers.

					</small>
					</p>
				</article>
			</div> <!-- card-body .// -->
		</div> <!-- card.// -->


	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<div class="card">
	<div class="card-body text-center text-primary">
		<h3>ACCEPTED</h3>
		<img src="/images/creditcards.png" width="420px" class="img-fluid">
	</div> <!-- card-body .// -->
</div> <!-- card.// -->