<div class="container"> <br>
    <div class="container text-center why">
        <h1 class="p-4">Our {{title}}</h1>
    </div> <br>
    <div class="row">
        {{# each puppies}}
        <div class="col-12">
            <div class="row">


                <div class="col-sm-5 img-s">
                    <div class="row">
                        {{# each this.images}}
                        <div class="col-3 ">

                            <figure class="figure">
                                <a id="main-image-link" href="/images/uploads/{{this.[]}}" data-fancybox=""><img
                                        id="main-image" class="figure-img img-fluid rounded"
                                        src="/images/uploads/{{this .[]}}"></a>
                            </figure>

                        </div>
                        {{/each}}
                    </div>



                </div> <!-- /col-sm-6 -->
                <div class="col-sm-6">
                    <h2 class="why p-3">{{this.name}}</h2>
                    <p>{{this.description}}
                    </p>
                    <p>
                        <dl class="row">
                            <dt class="col-sm-3">Color</dt>
                            <dd class="col-sm-9">{{this.eye}}</dd>
                            <dt class="col-sm-3">DOB</dt>
                            <dd class="col-sm-9">{{this.age}}</dd>
                        </dl>
                        <h5>AKC REGISTERED </h5>
                    </p>
                </div> <!-- /col-sm-6 -->
            </div>
            <hr>
        </div>
        {{/each}}
    </div> <!-- /row -->
</div> <!-- /container -->