<div class="container">
    <br>
    <div class="container text-center why">
        <h1 class="p-4">Our {{title}}</h1>
    </div> <br>
    <div class="row">
        {{# each puppies }}
        <div class="card col-md-5 ppup">
            <div class="card-header">
                <h2 class="title">
                    {{this.name}}
                    <span class="px-2"></span><span class="badge badge-{{status this.status}}">{{this.status}}
                    </span>

                </h2>
            </div>
            <div class="card-body">
                <article class=" gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a id="main-image-link" href="/images/uploads/{{this.images.[0]}}" data-fancybox=""><img
                                    id="main-image" src="/images/uploads/{{this.images.[0]}}"></a></div>
                    </div> <!-- slider-product.// -->
                </article> <!-- gallery-wrap .end// -->

                <p>{{this.description}}</p>

                <dl class="row">
                    <dt class="col-sm-3">Color</dt>
                    <dd class="col-sm-9">{{this.eye}}</dd>
                    <dt class="col-sm-3">Sex</dt>
                    <dd class="col-sm-9">{{this.sex}}</dd>
                    <dt class="col-sm-3">DOB</dt>
                    <dd class="col-sm-9">{{this.age}}</dd>
                </dl>
                <h5>AKC REGISTERED </h5>

            </div>
        </div>
        {{/each}}


    </div>
    <br> <br>
</div>