<div class="conatiner">

	<div class="card">
		<div class="row no-gutters">
			<aside class="col-sm-5 border-right">
				<article class="gallery-wrap">
					<div class="img-big-wrap">
						<div> <a id="main-image-link" href="/images/uploads/{{item.images.[0]}}" data-fancybox=""> <img
									id="main-image" src="/images/uploads/{{item.images.[0]}}"></a></div>
					</div> <!-- slider-product.// -->
					<div class="img-small-wrap">
						{{# each item.images}}
						<div class="item-gallery"> <img class="sub-image" src="/images/uploads/{{this.[]}}"></div>
						{{/each}}
					</div> <!-- slider-nav.// -->
				</article> <!-- gallery-wrap .end// -->
			</aside>
			<aside class="col-sm-7">
				<article class="p-5">
					<h1 class="title mb-3">{{item.name}} <span
							class="badge badge-{{status item.status}}">{{item.status}}
						</span></h1>
					<div class="mb-3">
						<var class="price h3 text-success">
							Full Price: <span class="currency">US $</span><span class="num">{{item.price}}</span>
						</var><br>
						<var class="price h4 text-warning">
							Deposit: <span class="currency">US $</span><span class="num">{{item.deposit}}</span>
						</var>
					</div> <!-- price-detail-wrap .// -->
					<h5>Description</h5>


					<p>{{item.description}}</p>
					<dl class="row">
						<dt class="col-sm-3">Sex</dt>
						<dd class="col-sm-9">{{item.sex}}</dd>

						<dt class="col-sm-3">Color</dt>
						<dd class="col-sm-9">{{item.eye}}</dd>

						<dt class="col-sm-3">Age</dt>
						<dd class="col-sm-9">{{pup_age item.age}} </dd>
					</dl>
					<div class="rating-wrap">

						<strong>AKC REGISTERED</strong>
					</div> <!-- rating-wrap.// -->
					<hr>
					<div class="row">
						<div class="col-sm-5">
							<dl class="dlist-inline">
								<dt>Available: </dt>
								<dd>
									{{item.available}}
								</dd>
							</dl> <!-- item-property .// -->
						</div> <!-- col.// -->
						<div class="col-sm-7">
							<dl class="dlist-inline">
								<dt>
									<h5>Delivery:</h5>
								</dt>
								<dd>
									Delivery Available To any address within the USA.
								</dd>
							</dl> <!-- item-property .// -->
						</div> <!-- col.// -->
					</div> <!-- row.// -->
					<hr>
					<a href="#" class="btn btn-primary btn-lg add-to-cart {{sold item.status}}"
						data-id="{{item._id}}"><strong><i class="fa fa-plus"></i><i class="fa fa-shopping-cart">
							</i> I WANT
							{{morf item.sex 'HIM' 'HER'}} </strong></a>
				</article> <!-- card-body.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->


</div>