<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">
		<div class="container text-center why">
			<h1 class="p-4">Our {{title}}</h1>
		</div> <br>
		<div class="card mb-3">
			<div class="card-body">



				<article>
					<div id="code_prod2">
						<div class="row">

							{{# each puppies}}

							<article class="card card-product">
								<div class="card-body">
									<div class="row">
										<aside class="col-md-4">
											<div class="img-wrap"><img src="/images/uploads/{{this.images.[0]}}"></div>
										</aside> <!-- col.// -->
										<article class="col-md-6">

											<h1 class="title"> <a href="/puppy/{{this.id}}/" class="title">
													{{this.name}} </a> </h1>
											<div class="rating-wrap">
												<h3><span class="badge badge-{{status this.status}}">{{this.status}}
													</span>

												</h3>
											</div> <!-- rating-wrap.// -->
											<p>{{trunc this.description}}</p>
											<div class="row">
												<div class="col-md-6">
													<dl class="dlist-align">
														<dt>Sex</dt>
														<dd>{{this.sex}}</dd>
													</dl> <!-- item-property-hor .// -->
													<dl class="dlist-align">
														<dt>Age</dt>
														<dd>{{pup_age this.age}}</dd>
													</dl> <!-- item-property-hor .// -->
													<dl class="dlist-align">
														<dt>Available:</dt>
														<dd>{{this.available}}</dd>
													</dl> <!-- item-property-hor .// -->
												</div>
												<div class="col-md-5">
													<dl class="dlist-align">
														<dt>Color</dt>
														<dd>{{this.eye}}</dd>
													</dl> <!-- item-property-hor .// -->

													<Strong> AKC Registered</Strong>
												</div>
											</div>


										</article> <!-- col.// -->
										<aside class="col-md-2 border-left">
											<div class="action-wrap">
												<div class="price-wrap h4 text-primary">
													<span class="price">Price: ${{this.price}}</span><br>

												</div> <!-- info-price-detail // -->
												<strong class="text-danger">
													Deposit: ${{this.deposit}}</strong>
												<br>
												<p> <a class="btn btn-block btn-lg btn-outline-primary"
														href="/puppy/{{this._id}}/"><i class="far fa-eye"></i>
														VIEW {{morf this.sex 'HIM' 'HER'}} </a> </p><br>
												<p><a href="#"
														class="btn btn-primary btn-lg add-to-cart {{sold this.status}}"
														data-id="{{this._id}}"><strong><i class="fa fa-plus"></i><i
																class="fa fa-shopping-cart">
															</i> I WANT
															{{morf this.sex 'HIM' 'HER'}} </strong></a>
												</p>
											</div> <!-- action-wrap.// -->
										</aside> <!-- col.// -->
									</div> <!-- row.// -->
								</div> <!-- card-body .// -->
							</article> <!-- product-list.// -->

							{{/each}}
						</div> <!-- row.// -->
					</div>


				</article>
			</div> <!-- card-body .// -->
		</div> <!-- card.// -->
	</div>
</section>