{{# if puppies}}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y border-top">
    <div class="container">

        <div class="row">
            <main class="col-sm-9">

                <div class="card">
                    <table class="table table-hover shopping-cart-wrap table-responsive">
                        <thead class="text-muted">
                            <tr>
                                <th scope="col">Puppy</th>
                                <th scope="col" width="120">age</th>
                                <th scope="col" width="120">Available</th>
                                <th scope="col" width="120">Deposit</th>
                                <th scope="col" width="120">Full Price</th>
                                <th scope="col" class="text-right" width="200">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each puppies}}
                            <tr>
                                <td>
                                    <figure class="media">
                                        <div class="img-wrap"><img src="/images/uploads/{{this.item.images.[0]}} "
                                                class="img-thumbnail img-sm"></div>
                                        <figcaption class="media-body">
                                            <h6 class="title text-truncate">{{this.item.name}}</h6>
                                            <dl class="dlist-inline small">
                                                <dt>{{this.item.sex}}</dt>
                                                <dd><span class="badge badge-available">{{this.item.status}}</span></dd>
                                            </dl>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>

                                    {{pup_age this.item.age}}
                                </td>

                                <td>

                                    {{this.item.available}}
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="text-success price"><small>$</small> {{this.item.deposit}}<small>
                                                USD</small>
                                        </var>
                                    </div> <!-- price-wrap .// -->

                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price"><small>$</small> {{this.item.price}}<small> USD</small>
                                        </var>
                                        <small class="text-muted">( includes deposit and shiping)</small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a href="/remove/{{this.item._id}}" class="btn btn-outline-danger"> × Remove</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div> <!-- card.// -->

            </main> <!-- col.// -->
            <aside class="col-sm-3">
                <strong> You are pay for your puppy/puppies deposit Upfront.</strong>
                <p class="alert alert-success"> FREE Shipping within the US</p>
                <dl class="dlist-align">
                    <dt>Total Deposit:</dt>
                    <dd class="text-right">$<strong class="lead">{{this.totalDeposit}} </strong>
                        <small>USD</small></dd>
                    <br>

                    <dt>Amount Left:</dt>
                    <dd class="text-right text-danger">$<strong
                            class="lead">{{amt_left this.totalDeposit toBePaid.amount}}
                        </strong>
                        <small>USD</small></dd>
                </dl>
                <hr>
                <img src="/images/creditcards.png" class="img-fluid">
                <hr>
                <figure class="itemside mb-3 text-center">

                    <form action="/charge/" method="POST">
                        <input type="text" hidden name="priz" value="{{this.totalDeposit}}00">
                        <input type="hidden" name="orderItems" value='{{# each puppies}}
                        <li class="list-group-item">
                            <span class="badge">{{this.qty}}</span>
                            <strong style="margin-right:20px;"> {{this.item.name}} </strong>
                            <span style="margin-right:20px;" class="label label-success">
                                $ {{this.price}}
                            </span>
                            <span style="margin-right:20px;" class="label label-primary">{{this.amt}}
                                <sup>
                                    <small>{{this.item.unit}}</small>
                                </sup>
                            </span> </li> {{/each}}'>

                        <input type="hidden" name="orderItem" value='{{# each puppies}}
                       {{this.qty}} {{this.amt}}/{{this.item.unit}} of {{this.item.name}}{{/each}}'>

                        {{!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" class="strip-button"
                            data-key="{{stripePublishableKey}}" data-amount="{{this.totalDeposit}}00"
                            data-name="crownfrawns" data-zip-code="true" data-description="Frenchie Puppies"
                            data-image="/images/logo.png" data-locale="auto" data-allow-remember-me="true">
                            </script>
                        <script>
                            document.getElementsByClassName('stripe-button-el')[0]
                                .style.display = 'none';
                        </script> --}}
                        <div class="row">
                            <div class="col-12">
                                <small>Buy Placing Order you accept to our <a href="/buyers-contract"
                                        target="_blank">Buyers
                                        Contract</a></small> <br>
                            </div><br>
                            <div class="col-12"><br>
                                <button class="btn btn-primary btn-block"> Place Order </button>

                            </div>
                        </div>
                    </form>


                </figure>

            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<br><br>
{{else}}

<div class="container">


    <div class="row align-items-center">
        <div class="text-center">
            <h2 class="text-center">No Items in Cart <i class=" fa fa-shopping-cart fa-2x"></i></h2>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
{{/if}}