<div class="container">

    <section class="py-5 text-center">
        <div class="card py-3">
            <h1 class="display-2">
                Thank You
            </h1>
            <p class="lead">We Shall contact You about Your Order Soon<br>
                You shall receive an email with your Contract and Other Informaion on Your Order.
                <br>
                For more information email us at <strong>pay@crownfrawns.com</strong> </p>
            <a href="/" class="btn btn-dark">Go Back</a>
        </div>
    </section>
</div>