<style>
    .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
    }

    .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }
</style>
<div class="container">

    <div class="card-header why">
        <header class="section-heading" style="text-align:center;">
            <h1 style="text-align:center;">{{title}}</h1>
            <i class="fa fa-paw fa-2x"></i><i class="fa fa-paw fa-3x"></i> <i class="fa fa-paw fa-2x"></i>
        </header>
    </div>
    <br>
    <h2 class="text-center">What Our Clients our Saying
        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"> Add Your Testimony</button>
    </h2>
    <br>
    <br>
    {{#each testimonials}}
    <div class="card">
        <div class="p-4 text-center">
            <div class="img-box"><img src="/images/uploads/{{this.image}}" alt=""></div>
            <p class=" testimonial">{{this.message}}</p>
            <p class="overview"><strong>{{this.name}}</strong>- {{this.city}}, {{this.state}}</p>
        </div>
    </div><br>
    {{/each}}


    <small class="center why">
        All of our French Bulldog puppies for sale are registered with the American Kennel Club and
        come
        with
        registration papers.

    </small>
    <br>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Submit Your Testimony</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="add-testimonial" method="POST" id="testiform" enctype="multipart/form-data">
                    <div class="form-row">


                        <div class="form-group col-md-12">
                            <label>Name </label>
                            <input type="text" name="name" class="form-control" placeholder="Your Name">
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>City</label>
                            <input type="text" name="city" class="form-control">
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>State</label>
                            <select class="form-control" name="state">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-12">
                            <label for="message">Image</label>
                            <input type="file" name="image">
                        </div>

                        <div class="form-group col-12">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-col col-12">
                            <button id="testimonial" class="btn btn-primary btn-lg btn-block">
                                Submit</button>
                        </div>
                    </div> <!-- Form-row End.//--->
                </form>

            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>